<div class="title">
    <h1>Converter do Spotify para o YouTube</h1>
    <span>Converta rapidamente sua música do Spotify o YouTube</span>
</div>

<form class="form-principal" [formGroup]="formulario" (ngSubmit)="send()">
    <mat-form-field appearance="outline">
        <mat-label>Insira o link do Spotify da sua música</mat-label>
        <input 
            (change)="validadeDisabledButton()"
            matInput 
            formControlName="link" 
            placeholder="Cole aqui o link da sua música" 
            color="primary"
        />
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Selecione o link a receber convertido</mat-label>
        <mat-select formControlName="selectedOption">
            <mat-option *ngFor="let option of options" [value]="option">
                {{ option.site }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button 
        mat-raised-button 
        color="primary" 
        type="submit"
        [disabled]="notShowButton"
        style="padding: 1.5rem;"
        >
    Converter
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <app-track *ngIf="track.link" [track]="track" />
</form>